/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #567F6E; /* changed */
    color: #fff; /* change */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

header, footer {
  background: #19CC82; }

aside { background: #567F6E; }

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete */
    background: #107F4F;
}

figure { background: #367F60; }

a:link { color: #61AAFF; }
a:visited { color: #19497F; }
a:focus { color: #FF9CD3; }
a:hover { color: #FF56B5; }
a:active { color: #7F0428; }

footer a:link { color: #0D3BFF; }
footer a:visited { color: #19497F; }
footer a:focus { color: #FF5F9A; }
footer a:hover { color: #CC1458; }
footer a:active { color: #7F0428; }
